body {
    padding: 50px;
    font: 16px 'Shadows Into Light', cursive;
    background-color: beige;
    letter-spacing: 0.3em;
  }
  
  a {
    color: #004369;
  }

  .navbar-brand{
    color:#01949A !important;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
  }

  .content .card > img{
    max-height: 400px;
    overflow: hidden;
  }

  .details{
    max-width: 650px;
  }

  .details .card > img{
    max-height: 450px;
    overflow: hidden;
  }