body {
    padding: 50px;
    font: 16px 'Shadows Into Light', cursive;
    background-color: beige;
    letter-spacing: 0.2em;
  }
  
  a {
    color: #004369;
    letter-spacing: 0.2em;
    font-size: 1.2em;
  }

  ul{
    list-style: none;
    border: none;
  }

  .list-group-item{
    border: none;
  }

  .navbar-brand{
    color:#01949A !important;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
  }

  .content .card > img{
    max-height: 400px;
    overflow: hidden;
  }

  .details{
    max-width: 650px;
  }

  .details .card > img{
    max-height: 450px;
    overflow: hidden;
  }

  .card-text{
    font-size: 1.5em;
  }

  .form-control, button, .btn{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
  }